.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-bg {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include responsive(900) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include responsive(900) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-bg {
  margin-top: 10rem !important;
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

.u-margin-top-md {
  margin-top: 4rem !important;
}

.u-margin-top-sm {
  margin-top: 1.5rem !important;
}
